<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.luming.linuxruntime.permission.EXECUTE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:label="Lumi Linux Runtime"
        android:supportsRtl="true">

        <provider
            android:name=".LinuxRuntimeProvider"
            android:authorities="com.luming.linuxruntime.runtime"
            android:enabled="true"
            android:exported="true"
            android:permission="com.luming.linuxruntime.permission.EXECUTE" />
    </application>
</manifest>
