<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.HybridRpaFixtureActivity"
            android:exported="true"
            android:label="Hybrid RPA Fixture"
            android:launchMode="singleTop"
            android:permission="android.permission.DUMP"
            android:theme="@style/Theme.ApkClaw" />
    </application>
</manifest>
